<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hworld.mapper.sys.SysDictItemMapper">
  <sql id="Base_Column_List">
      t.id,
      t.group_id,
      t.group_code,
      t.item_code,
      t.item_value,
      t.item_name_en,
      t.item_name_cn,
      t.order,
      t.description,
      t.deleted_flag,
      t.created_by,
      t.created_name,
      t.created_on,
      t.modified_by,
      t.modified_name,
      t.modified_on
  </sql>
  <sql id="Where_List">
      <if test="createTime != null">
          AND t.CREATE_TIME_ <![CDATA[ >= ]]> #{createTime}
      </if>
      <if test="createUserId != null">
          AND t.CREATE_USER_ID_ = #{createUserId}
      </if>
      <if test="id != null">
          AND t.id = #{id}
      </if>
      <if test="groupId != null and groupId.length()!=0">
          AND t.group_id = #{groupId}
      </if>
      <if test="groupCode != null and groupCode.length()!=0">
          AND t.group_code = #{groupCode}
      </if>
      <if test="itemCode != null and itemCode.length()!=0">
          AND t.item_code = #{itemCode}
      </if>
      <if test="itemValue != null and itemValue.length()!=0">
          AND t.item_value = #{itemValue}
      </if>
      <if test="itemNameEn != null and itemNameEn.length()!=0">
          AND t.item_name_en = #{itemNameEn}
      </if>
      <if test="itemNameCn != null and itemNameCn.length()!=0">
          AND t.item_name_cn = #{itemNameCn}
      </if>
      <if test="order != null">
          AND t.order = #{order}
      </if>
      <if test="description != null and description.length()!=0">
          AND t.description = #{description}
      </if>
      <if test="deletedFlag != null and deletedFlag.length()!=0">
          AND t.deleted_flag = #{deletedFlag}
      </if>
      <if test="createdBy != null">
          AND t.created_by = #{createdBy}
      </if>
      <if test="createdName != null and createdName.length()!=0">
          AND t.created_name = #{createdName}
      </if>
      <if test="createdOn != null">
          AND t.created_on <![CDATA[ >= ]]> #{createdOn}
      </if>
      <if test="modifiedBy != null">
          AND t.modified_by = #{modifiedBy}
      </if>
      <if test="modifiedName != null and modifiedName.length()!=0">
          AND t.modified_name = #{modifiedName}
      </if>
      <if test="modifiedOn != null">
          AND t.modified_on <![CDATA[ >= ]]> #{modifiedOn}
      </if>
  </sql>
  <sql id="Set_List">
      t.group_id = #{groupId},
      t.group_code = #{groupCode},
      t.item_code = #{itemCode},
      t.item_value = #{itemValue},
      t.item_name_en = #{itemNameEn},
      t.item_name_cn = #{itemNameCn},
      t.order = #{order},
      t.description = #{description},
      t.deleted_flag = #{deletedFlag},
      t.created_by = #{createdBy},
      t.created_name = #{createdName},
      t.created_on = #{createdOn},
      t.modified_by = #{modifiedBy},
      t.modified_name = #{modifiedName},
      t.modified_on = #{modifiedOn}
  </sql>
</mapper>