<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hworld.mapper.sys.SysGlobalRegionMapper">
  <sql id="Base_Column_List">
      t.id,
      t.parent_id,
      t.area_level,
      t.area_path,
      t.country_code,
      t.country_number,
      t.country_phone_number,
      t.area_code,
      t.time_zone,
      t.name_cn,
      t.name_en,
      t.name_pinyin,
      t.deleted_flag,
      t.created_by,
      t.created_name,
      t.created_on,
      t.modified_by,
      t.modified_name,
      t.modified_on
  </sql>
  <sql id="Where_List">
      <if test="createTime != null">
          AND t.CREATE_TIME_ <![CDATA[ >= ]]> #{createTime}
      </if>
      <if test="createUserId != null">
          AND t.CREATE_USER_ID_ = #{createUserId}
      </if>
      <if test="id != null">
          AND t.id = #{id}
      </if>
      <if test="parentId != null">
          AND t.parent_id = #{parentId}
      </if>
      <if test="areaLevel != null">
          AND t.area_level = #{areaLevel}
      </if>
      <if test="areaPath != null and areaPath.length()!=0">
          AND t.area_path = #{areaPath}
      </if>
      <if test="countryCode != null and countryCode.length()!=0">
          AND t.country_code = #{countryCode}
      </if>
      <if test="countryNumber != null and countryNumber.length()!=0">
          AND t.country_number = #{countryNumber}
      </if>
      <if test="countryPhoneNumber != null and countryPhoneNumber.length()!=0">
          AND t.country_phone_number = #{countryPhoneNumber}
      </if>
      <if test="areaCode != null and areaCode.length()!=0">
          AND t.area_code = #{areaCode}
      </if>
      <if test="timeZone != null and timeZone.length()!=0">
          AND t.time_zone = #{timeZone}
      </if>
      <if test="nameCn != null and nameCn.length()!=0">
          AND t.name_cn = #{nameCn}
      </if>
      <if test="nameEn != null and nameEn.length()!=0">
          AND t.name_en = #{nameEn}
      </if>
      <if test="namePinyin != null and namePinyin.length()!=0">
          AND t.name_pinyin = #{namePinyin}
      </if>
      <if test="deletedFlag != null">
          AND t.deleted_flag = #{deletedFlag}
      </if>
      <if test="createdBy != null">
          AND t.created_by = #{createdBy}
      </if>
      <if test="createdName != null and createdName.length()!=0">
          AND t.created_name = #{createdName}
      </if>
      <if test="createdOn != null">
          AND t.created_on <![CDATA[ >= ]]> #{createdOn}
      </if>
      <if test="modifiedBy != null">
          AND t.modified_by = #{modifiedBy}
      </if>
      <if test="modifiedName != null and modifiedName.length()!=0">
          AND t.modified_name = #{modifiedName}
      </if>
      <if test="modifiedOn != null">
          AND t.modified_on <![CDATA[ >= ]]> #{modifiedOn}
      </if>
  </sql>
  <sql id="Set_List">
      t.parent_id = #{parentId},
      t.area_level = #{areaLevel},
      t.area_path = #{areaPath},
      t.country_code = #{countryCode},
      t.country_number = #{countryNumber},
      t.country_phone_number = #{countryPhoneNumber},
      t.area_code = #{areaCode},
      t.time_zone = #{timeZone},
      t.name_cn = #{nameCn},
      t.name_en = #{nameEn},
      t.name_pinyin = #{namePinyin},
      t.deleted_flag = #{deletedFlag},
      t.created_by = #{createdBy},
      t.created_name = #{createdName},
      t.created_on = #{createdOn},
      t.modified_by = #{modifiedBy},
      t.modified_name = #{modifiedName},
      t.modified_on = #{modifiedOn}
  </sql>
</mapper>