<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hworld.mapper.sys.SysRoleMapper">
  <sql id="Base_Column_List">
      t.id,
      t.role_code,
      t.role_name_cn,
      t.role_name_en,
      t.is_admin,
      t.status,
      t.description,
      t.rule_type,
      t.is_default,
      t.deleted_flag,
      t.created_by,
      t.created_name,
      t.created_on,
      t.modified_by,
      t.modified_name,
      t.modified_on
  </sql>
  <sql id="Where_List">
      <if test="createTime != null">
          AND t.CREATE_TIME_ <![CDATA[ >= ]]> #{createTime}
      </if>
      <if test="createUserId != null">
          AND t.CREATE_USER_ID_ = #{createUserId}
      </if>
      <if test="id != null">
          AND t.id = #{id}
      </if>
      <if test="roleCode != null and roleCode.length()!=0">
          AND t.role_code = #{roleCode}
      </if>
      <if test="roleNameCn != null and roleNameCn.length()!=0">
          AND t.role_name_cn = #{roleNameCn}
      </if>
      <if test="roleNameEn != null and roleNameEn.length()!=0">
          AND t.role_name_en = #{roleNameEn}
      </if>
      <if test="isAdmin != null">
          AND t.is_admin = #{isAdmin}
      </if>
      <if test="status != null and status.length()!=0">
          AND t.status = #{status}
      </if>
      <if test="description != null and description.length()!=0">
          AND t.description = #{description}
      </if>
      <if test="ruleType != null and ruleType.length()!=0">
          AND t.rule_type = #{ruleType}
      </if>
      <if test="isDefault != null">
          AND t.is_default = #{isDefault}
      </if>
      <if test="deletedFlag != null and deletedFlag.length()!=0">
          AND t.deleted_flag = #{deletedFlag}
      </if>
      <if test="createdBy != null">
          AND t.created_by = #{createdBy}
      </if>
      <if test="createdName != null and createdName.length()!=0">
          AND t.created_name = #{createdName}
      </if>
      <if test="createdOn != null">
          AND t.created_on <![CDATA[ >= ]]> #{createdOn}
      </if>
      <if test="modifiedBy != null">
          AND t.modified_by = #{modifiedBy}
      </if>
      <if test="modifiedName != null and modifiedName.length()!=0">
          AND t.modified_name = #{modifiedName}
      </if>
      <if test="modifiedOn != null">
          AND t.modified_on <![CDATA[ >= ]]> #{modifiedOn}
      </if>
  </sql>
  <sql id="Set_List">
      t.role_code = #{roleCode},
      t.role_name_cn = #{roleNameCn},
      t.role_name_en = #{roleNameEn},
      t.is_admin = #{isAdmin},
      t.status = #{status},
      t.description = #{description},
      t.rule_type = #{ruleType},
      t.is_default = #{isDefault},
      t.deleted_flag = #{deletedFlag},
      t.created_by = #{createdBy},
      t.created_name = #{createdName},
      t.created_on = #{createdOn},
      t.modified_by = #{modifiedBy},
      t.modified_name = #{modifiedName},
      t.modified_on = #{modifiedOn}
  </sql>
</mapper>