<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hworld.mapper.member.MemberLevelMapper">
  <sql id="Base_Column_List">
      t.id,
      t.name,
      t.code,
      t.ordinal,
      t.member_program_id,
      t.member_program_code,
      t.member_type,
      t.price,
      t.icon,
      t.description,
      t.is_default,
      t.is_disable,
      t.sale_flag,
      t.deleted_flag,
      t.created_by,
      t.created_name,
      t.created_on,
      t.modified_by,
      t.modified_name,
      t.modified_on
  </sql>
  <sql id="Where_List">
      <if test="createTime != null">
          AND t.CREATE_TIME_ <![CDATA[ >= ]]> #{createTime}
      </if>
      <if test="createUserId != null">
          AND t.CREATE_USER_ID_ = #{createUserId}
      </if>
      <if test="id != null">
          AND t.id = #{id}
      </if>
      <if test="name != null and name.length()!=0">
          AND t.name = #{name}
      </if>
      <if test="code != null and code.length()!=0">
          AND t.code = #{code}
      </if>
      <if test="ordinal != null">
          AND t.ordinal = #{ordinal}
      </if>
      <if test="memberProgramId != null">
          AND t.member_program_id = #{memberProgramId}
      </if>
      <if test="memberProgramCode != null and memberProgramCode.length()!=0">
          AND t.member_program_code = #{memberProgramCode}
      </if>
      <if test="memberType != null and memberType.length()!=0">
          AND t.member_type = #{memberType}
      </if>
      <if test="price != null and price.length()!=0">
          AND t.price = #{price}
      </if>
      <if test="icon != null and icon.length()!=0">
          AND t.icon = #{icon}
      </if>
      <if test="description != null and description.length()!=0">
          AND t.description = #{description}
      </if>
      <if test="isDefault != null">
          AND t.is_default = #{isDefault}
      </if>
      <if test="isDisable != null">
          AND t.is_disable = #{isDisable}
      </if>
      <if test="saleFlag != null">
          AND t.sale_flag = #{saleFlag}
      </if>
      <if test="deletedFlag != null">
          AND t.deleted_flag = #{deletedFlag}
      </if>
      <if test="createdBy != null">
          AND t.created_by = #{createdBy}
      </if>
      <if test="createdName != null and createdName.length()!=0">
          AND t.created_name = #{createdName}
      </if>
      <if test="createdOn != null">
          AND t.created_on <![CDATA[ >= ]]> #{createdOn}
      </if>
      <if test="modifiedBy != null">
          AND t.modified_by = #{modifiedBy}
      </if>
      <if test="modifiedName != null and modifiedName.length()!=0">
          AND t.modified_name = #{modifiedName}
      </if>
      <if test="modifiedOn != null">
          AND t.modified_on <![CDATA[ >= ]]> #{modifiedOn}
      </if>
  </sql>
  <sql id="Set_List">
      t.name = #{name},
      t.code = #{code},
      t.ordinal = #{ordinal},
      t.member_program_id = #{memberProgramId},
      t.member_program_code = #{memberProgramCode},
      t.member_type = #{memberType},
      t.price = #{price},
      t.icon = #{icon},
      t.description = #{description},
      t.is_default = #{isDefault},
      t.is_disable = #{isDisable},
      t.sale_flag = #{saleFlag},
      t.deleted_flag = #{deletedFlag},
      t.created_by = #{createdBy},
      t.created_name = #{createdName},
      t.created_on = #{createdOn},
      t.modified_by = #{modifiedBy},
      t.modified_name = #{modifiedName},
      t.modified_on = #{modifiedOn}
  </sql>
</mapper>